/* ToyForm.css */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    @apply dark:bg-slate-900
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @apply btn btn-secondary
  }
  
 
  
  @media screen and (max-width: 480px) {
    .form-container {
      padding: 10px;
    }
  
    .form-group label {
      font-size: 14px;
    }
  
    .form-group input,
    .form-group select,
    .form-group textarea {
      font-size: 14px;
      padding: 8px;
    }
  }
  